<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gpthane">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/gpt_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gpt_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".Student.VideoLectures"></activity>
        <activity android:name=".Teacher.DisplayStudents" />
<!--        <activity android:name=".Teacher.StudentDisplay1" />-->
        <activity android:name=".Teacher.StudentsDisplay" />
        <activity android:name=".Teacher.UploadPDFActivity1" />
        <activity android:name=".Student.RetrivePDFActivity" />
        <activity android:name=".Student.StudentNotice" />
        <activity android:name=".Student.Drawer.Contact" />
        <activity android:name=".Student.Drawer.About" />
        <activity android:name=".Teacher.TeacherUploadNotice" />
        <activity android:name=".Student.StudentActivity" />
        <activity android:name=".Student.StudentLogin" />
        <activity android:name=".Student.StudentRegister" />
        <activity android:name=".Teacher.TeacherActivity" />
        <activity android:name=".Teacher.TeacherLogin" />
        <activity android:name=".Teacher.TeacherRegister" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>